<h2>Notification</h2>
<% if @notification_logs.present? %>
  <%= button_to 'Mark as read all', read_all_notifications_path, method: :get %></br>

  <% @notification_logs.each do |notification_log| %>
    <%= render notification_log %>
  <% end %>
<% else %>
  <p>There is no notification</p>
<% end %>