<h2>Notification</h2>
<%= button_to 'Mark as read all', read_all_notifications_path, method: :get %></br>

<% if @notifications.present? %>
  <% @notifications.each do |notification| %>
    <%= render notification %>
  <% end %>
<% else %>
  <p>There is no notification</p>
<% end %>